/* * {
    outline: 1px solid red;
    outline-offset: 1px solid red;
} */

th, td {
    width: 30%;
}

progress {
    border-radius: 0px; 
    width: 80%;
    height: 15px;
  }
  progress::-webkit-progress-value {
    background-color: white;
    box-shadow: 1px 1px 5px 1px rgba(186, 186, 186, 0.8);
  }

  progress::-webkit-progress-bar {
    border-radius: 0px;
  }
  